/* MODEL SECTION CONTENT */
/* Models list styles */

.model__section__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px 20px;
}

.model-profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.model-profile:hover {
    transform: translateY(-5px);
}

.model-profile img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.model-profile h2 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}

.model-profile h2 a {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    color: #594f2e;
}

.model-profile h2 a:hover {
    color: #cacab1;
}

.model-details {
    padding: 15px;
    color: #333;
}

.model-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model-info p {
    font-size: 16px;
    width: 90%;
    text-align: center;
    margin: 10px 0;
}

.model-info a {
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.model-info a:hover {
    color: #cacab1;
}

.model-info strong {
    font-weight: 600;
}


/* MODEL PROFILE CONTENT */
.model-name {
    font-size: 2.5rem;
    margin: 0;
}

.model-media {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.media-frame {
    flex: 1;
    margin: 10px;
}

.media-frame img, .media-frame video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.model-details {
    padding: 20px;
}

.model-details h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.model-details ul {
    list-style-type: none;
    padding: 0;
}

.model-details ul li {
    margin-bottom: 10px;
    display: block;
}

.reviews {
    margin-top: 20px;
}

.review-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.review-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.review-form input, .review-form textarea, .review-form select, .review-form button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
}

.review-form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.review-form button:hover {
    background-color: #555;
}


/* MODEL FORM CONTENT */
.hidden {
    display: none;
}

/* Step Container */
.step-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    max-width: 900px;
    margin: 1.5rem auto;
}

/* Section Headers */
.step-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #594f2e;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

/* Radio Buttons */
.step-container label {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

/* Radio input styling */
.step-container input[type="radio"] {
    margin-right: 0.5rem;
    accent-color: #594f2e;
}

/* Hover effect on radio options */
.step-container label:hover {
    background-color: #cacab1;
    border-color: #ccc;
}

/* Selected state */
.step-container input[type="radio"]:checked + label {
    background-color: #e0e0ff;
    border-color: #333;
    font-weight: 600;
}

/* Button styles */
button {
    display: block;
    background-color: #fff;
    color: #333;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem auto;
    text-align: center;
    margin-top: 50px;
}

button:hover {
    background-color: #cacab1;
}

/* Additional media queries for responsiveness */
@media (max-width: 768px) {
    .step-container {
        padding: 1rem;
    }

    .step-container h2 {
        font-size: 1.2rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

#model-form-section {
    padding: 2rem;
    background-color: #fff;
    max-width: 900px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.model-media {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.model-photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.model-photo-frame {
    width: 30%;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
}

.model-photo-frame input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

textarea, input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="file"] {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Form Sections */
.model-form-section {
    margin-bottom: 2rem;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="file"]:hover {
    background-color: #cacab1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .model-photos {
        flex-direction: column;
    }

    .model-photo-frame {
        width: 100%;
        margin-bottom: 1.5rem;
    }

}

/* INFLUENCER SECTION CONTENT */
.influencer__section__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.influencer-profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.influencer-profile:hover {
    transform: translateY(-5px);
}

.influencer-details img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.influencer-profile h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.influencer-profile h2 a {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    color: #594f2e;
}

.influencer-profile h2 a:hover {
    color: #cacab1;
}

.influencer-details {
    padding: 15px;
    color: #333
}

.influencer-info p {
    font-size: 14px;
    margin: 10px 0;
}

.influencer-info a {
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.influencer-info a:hover {
    color: #cacab1;
}

.creator-info strong {
    font-weight: 600;
}


/* CONTENT CREATOR SECTION CONTENT */
.creator__section__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.creator-profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.creator-profile:hover {
    transform: translateY(-5px);
}

.creator-profile img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.creator-profile h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.creator-profile h2 a {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    color: #594f2e;
}

.creator-profile h2 a:hover {
    color: #cacab1;
}

.creator-details {
    padding: 15px;
    color: #333
}

.creator-info p {
    font-size: 14px;
    margin: 10px 0;
}

.creator-info a {
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.creator-info a:hover {
    color: #cacab1;
}

.creator-info strong {
    font-weight: 600;
}


/* BLOG CONTENT */
.blog-container {
    width: 80%;
    margin: 20px auto;
}

.blog-section-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.blog-section {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.blog-section p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}

.blog-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}



/* SIGNUP FORM SECTION 
/* Subscription Plans Section */
.signup-subscription-plans {
    width: 100%;
    max-width: 1300px;
    height: fit-content;
    margin: auto;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-plans {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center;
    padding: 20px 20px; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.subscription-plan {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    flex: 1;
}

.subscription-plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.subscription-plan h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.subscription-plan p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.subscription-plan button {
    background-color: #594f2e;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscription-plan button:hover {
    background-color: #cacab1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-plans {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}



/* PAYMENT FORM SECTION */
.payment-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.pay-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}